.developer-name
{
  color:#4fc3dc ;  

  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#spin {
    color:#ff2d75;
    font-size: 25px;
  }
#spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    
    10% { content:"Hari krishnan"}
    20% { content:"Hari krishnan"}
    30% { content:"Full Stack Developer"}
   }

  
  