.cont
{
  color: aliceblue;  

  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .contain{
    color: #e5e5e5;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .animation {
    height:50px;
    overflow:hidden;
    margin-left: 1rem;
  }
  .animation > div > div  {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 4rem;
    display:inline-block;
  }
  .animation div:first-child {
    animation: text-animation 10s infinite;
  }

  .first div {
    background-color:#20a7d8;
    margin-bottom: 4rem;
  }
  .second div {
    background-color:#CD921E;
  }


  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  
  