:root
{
--body_background: white;
--body_color: black;
--link_color:  navy;
}

[data-theme="dark"] 
{
  --body_background:  #0c192c;
  --body_color: white;
  --link_color: |cyan;
}

.App {
  text-align: center;
}



.middle-image
{
  height: 250px;
  width: 250px;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* styles.css */

@keyframes floatUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.background-animation {
  position: relative;
  height: 100vh; /* Set a specific height */
  overflow: hidden;
}

.float-text {
  top: 0;
  position: absolute;
  bottom: 0;
  animation: floatUp 5s linear infinite;
}


