.dark_mode {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure it is on top of other elements */
}

.dark_mode_label {
    width: 35px; /* Adjusted to fit a single icon */
    height: 35px; /* Adjusted to fit a single icon */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.dark_mode_label svg {
    width: 100%; /* Adjust to fit container */
    height: 100%; /* Adjust to fit container */
    transition: 0.3s;
}

.sun {
    display: none;
    fill: black; /* Default color for light mode */
}

.moon {
    display: block;
    fill: white; /* Default color for dark mode */
}

.dark_mode_input:checked + .dark_mode_label .sun {
    display: block;
    fill: white; /* Color for dark mode */
}

.dark_mode_input:checked + .dark_mode_label .moon {
    display: none;
}

.dark_mode_label .moon {
    fill: black; /* Color for light mode */
}

.dark_mode_input:checked + .dark_mode_label .moon {
    fill: black; /* Color for light mode */
}
